@use "./variables" as *;
@use "./mixins" as *;
:root {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

// small
@media (max-width: 768px) {
  .container {
    width: 100% !important;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px !important;
  }
}
// Medium
@media (min-width: 992px) {
  .container {
    width: 970px !important;
  }
}
//  Large
@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}

%title {
  color: $blue;
  font-size: xxx-large;
  font-weight: bold;
  text-shadow: 6px 4px 5px #000000;
}
%arrow-down {
  @include resetLink;
  color: $blue;
  position: absolute;
  bottom: 0;
  font-size: xxx-large;
  text-shadow: 6px 4px 5px #000000;
}
