@use "./variables" as *;

@mixin display($display, $justifyContent, $alignItems) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
@mixin resetList() {
  list-style: none;
  padding: 0;
  margin: 0;
}
@mixin resetLink() {
  text-decoration: none;
  color: $white;
}
@mixin effectPage($add) {
  position: relative;
  top: -100vh;
  transform: translateY(100vh);
  transition: $main-transition-2 + $add;
}
